[submodule "Libraries/Opus"]
	path = Libraries/Opus
	url = git@github.com:xiph/opus.git
[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = git@github.com:google/googletest.git
[submodule "Libraries/benchmark"]
	path = Libraries/benchmark
	url = git@github.com:alisenai/benchmark.git
